In [23]:
import pandas as pd

In [95]:
# df1 = pd.read_csv('dec19_01-31_000000-235959.csv')
# df1 = pd.read_csv('jan20_01-21_000000-235959.csv')
# df1 = pd.read_csv('jan20_28-31_000000-235959.csv')
# df1 = pd.read_csv('feb20_05-07_000000-235959.csv')
# df1 = pd.read_csv('may20_04-07_000000-055959.csv')

In [96]:
pd.set_option('display.max_columns', None)

In [97]:
df1

,rt_created_at,rt_author_id,rt_lang,rt_text,rt_id,rt_ref_tweet_id,rt_ref_tweet_type,rt_rt_count,rt_rp_count,rt_lk_count,rt_qt_count,t_created_at,t_id,t_author_id,t_text,t_rt_count,t_rp_count,t_lk_count,t_qt_count,created_at,verified,id,username,name,location,followers_count,following_count,tweet_count,listed_count,withheld
0,2020-05-07 05:59:58+00:00,707316591453724673,en,Pakistan ‚Äòpower of tigers‚Äô to combat coronavir...,1258275363580502016,NaN,[],0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-08 21:26:31+00:00,False,707316591453724673,InstantNewsPk,instant.com.pk,Pakistan,381,54,210706,4,NaN
1,2020-05-07 05:59:58+00:00,1239855096902680576,en,Beat #Covid_19 https://t.co/q9YzuQUJfC,1258275363567931393,NaN,[],0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-17 10:07:33+00:00,False,1239855096902680576,VitalCareUAE,@VitalCareUAE,Road SIT Tower 2504 - Dubai -,7,84,37,0,NaN
2,2020-05-07 05:59:58+00:00,34245009,en,"Coronavirus in Rajasthan: With 38 new cases, s...",1258275363488182272,NaN,[],1,0,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-04-22 11:26:34+00:00,True,34245009,indiatvnews,India TV,India,1543300,44,547230,1499,NaN
3,2020-05-07 05:59:58+00:00,1253235954535395329,und,‡§ï‡•ã‡§∞‡•ã‡§®‡§æ ‡§ï‡•ã ‡§≤‡•á‡§ï‡§∞ ‡§¨‡§°‡§º‡§æ ‡§ñ‡•Å‡§≤‡§æ‡§∏‡§æ ‡§ï‡§∞‡§®‡•á ‡§µ‡§æ‡§≤‡§æ ‡§•‡§æ ‡§ö‡•Ä‡§® ‡§ï‡§æ...,1258275363404251137,NaN,[],0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23 08:16:19+00:00,False,1253235954535395329,24x7_world,World 24x7 News,NaN,74,0,26095,0,NaN
4,2020-05-07 05:59:58+00:00,1172686008657305600,en,RT @ACTBrigitte: Anyone who is worried about c...,1258275363160981512,1.257866e+18,['retweeted'],499,0,0,0,2020-05-06 02:53:47+00:00,1.257866e+18,7.225285e+17,Anyone who is worried about contracting the Co...,499.0,54.0,1671.0,36.0,2019-09-14 01:38:53+00:00,False,1172686008657305600,Noel16639478,Noel,NaN,2357,3039,26604,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905680,2020-05-07 01:58:26+00:00,931171706,es,RT @doctormacias: Covid-19. Ser√° parte de nues...,1258214577894035457,1.258130e+18,['retweeted'],404,0,0,0,2020-05-06 20:23:46+00:00,1.258130e+18,3.162732e+08,Covid-19. Ser√° parte de nuestras vidas mientra...,404.0,18.0,1049.0,18.0,2012-11-07 04:00:56+00:00,False,931171706,maurbe61,El monda dientes,NaN,44,88,4958,2,NaN
905681,2020-05-07 01:58:26+00:00,1258041862025289728,en,RT @CNN: Interior Secretary David Bernhardt as...,1258214577889783808,1.258171e+18,['retweeted'],86,0,0,0,2020-05-06 23:06:06+00:00,1.258171e+18,7.592510e+05,Interior Secretary David Bernhardt asked peopl...,86.0,62.0,235.0,9.0,2020-05-06 14:32:18+00:00,False,1258041862025289728,mesyedsalu,Sy√©d S√¢lm√§√±,NaN,144,7,68428,1,NaN
905682,2020-05-07 01:58:26+00:00,17221207,en,"Despite still offering pickup, curbside and ev...",1258214577814138881,NaN,[],0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-11-06 22:35:39+00:00,True,17221207,CBS47,CBS47,"Fresno, CA",25614,1264,123339,511,NaN
905683,2020-05-07 01:58:26+00:00,3008266792,en,RT @RichardBurgon: We have the second highest ...,1258214577738846208,1.258144e+18,['retweeted'],561,0,0,0,2020-05-06 21:18:49+00:00,1.258144e+18,5.450814e+08,We have the second highest death toll in the w...,561.0,109.0,1178.0,39.0,2015-01-31 19:02:21+00:00,False,3008266792,bungimac,üåπ,NaN,2275,4945,85041,23,NaN
905684,2020-05-07 01:58:26+00:00,326368156,es,RT @LNV22: Quien hubiera dicho que el coronavi...,1258214577717874696,1.258208e+18,['retweeted'],36,0,0,0,2020-05-07 01:32:21+00:00,1.258208e+18,2.329695e+09,Quien hubiera dicho que el coronavirus iba a s...,36.0,0.0,143.0,2.0,2011-06-29 20:14:15+00:00,False,326368156,gastoncasas1,‚Ä¢GŒª∆ß∆¨ii‚Ñ¢ ü¶Ç,"La Rioja, Argentina",174,416,924,0,NaN

In [98]:
df_w = df1[df1["rt_created_at"].between('2020-05-05 00:00:01','2020-05-07 23:59:59')]#df[(df['rt_created_at']> "2019-12-01") & (df['rt_created_at']< "2019-12-03")]

In [99]:
df_uw = df_w[['rt_author_id','t_author_id']]

In [105]:
df_uw

               rt_author_id         t_author_id
4       1172686008657305600  722528529716383744
5                 310256600           500749308
6                 633514416              807095
8        932684454958530560           213533791
9       1079723232884940801          1935426432
...                     ...                 ...
905678             90272103            28838219
905680            931171706           316273207
905681  1258041862025289728              759251
905683           3008266792           545081356
905684            326368156          2329694580

[747450 rows x 2 columns]

In [101]:
df_uw = df_uw[df_uw['t_author_id'].notna()]

In [102]:
df_uw = df_uw[['rt_author_id','t_author_id']].astype('int64')

In [106]:
df_uw.to_csv('may_uw_5_7.tsv',index=False, header = False, sep='\t') #.tsv

In [ ]:
df_uw

In [1]:
jupyter nbconvert --to pdf --TemplateExporter.exclude_input=True retweet_net.ipynb

SyntaxError: invalid syntax (<ipython-input-1-850d1404e538>, line 1)