In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
# pd.np.set_printoptions(suppress=True)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
data = pd.read_csv('jan20_01-21_000000-235959.csv')

/usr/local/Cellar/jupyterlab/3.0.12/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df_t = data[['rt_author_id', 't_author_id', 't_text']]

In [6]:
df_t = df_t.dropna(subset=['t_text'])

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
cv = CountVectorizer(analyzer='word',token_pattern=r'[\w\@\#]+')

In [9]:
vec = cv.fit_transform(df_t.t_text.dropna().to_numpy())

In [10]:
labels = cv.get_feature_names() ## get all features/lables from the df

In [11]:
## get all mentions/hashtags and their indiceis >> which indicies has the mentions
mentions = []
mention_indicies = []
hashtags = []
hashtag_indicies = []

In [12]:
## enumerate through them
for i, v in enumerate(labels):
    if v.startswith('@'):
        mentions.append(v)
        mention_indicies.append(i)
    elif v.startswith('#'):
        hashtags.append(v)
        hashtag_indicies.append(i)

In [13]:
## convert to np array to avoid sparse matrix
mentions = np.array(mentions)
mention_indicies = np.array(mention_indicies)
hashtags = np.array(hashtags)
hashtag_indicies = np.array(hashtag_indicies)

In [14]:
## get the columns vector for mentions and hashtags
mention_vec = vec[:,mention_indicies]
hashtag_vec = vec[:,hashtag_indicies]

In [15]:
## rank the indicies from all counts to get top mentions/tags
mentions_count = np.array(mention_vec.sum(axis=0)).flatten()
mentions_rank_indicies = mentions_count.argsort()[::-1]

hashtags_count = np.array(hashtag_vec.sum(axis=0)).flatten()
hashtags_rank_indicies = hashtags_count.argsort()[::-1]

In [16]:
## now get mention/hashtag ranked accordingly
# mentions_ranked = mentions[mentions_rank_indicies]
# hashtags_ranked = hashtags[hashtags_rank_indicies]

In [17]:
# top10mentions_vec = vec[:,mention_indicies[mentions_rank_indicies[:10]]].toarray()
# top10hashtags_vec = vec[:,hashtag_indicies[hashtags_rank_indicies[:10]]].toarray()

In [18]:
mentions_ranked.tolist()[::1][:20]

['@who',
 '@declanoscanlon',
 '@realdonaldtrump',
 '@bts_twt',
 '@drtedros',
 '@njsenatepres',
 '@doritmi',
 '@peterhotez',
 '@mcfunny',
 '@cnn',
 '@janeeopie',
 '@monstercoyliar',
 '@cdcgov',
 '@sheldon_walker_',
 '@thereal_truther',
 '@rosewind2007',
 '@nytimes',
 '@vingopal',
 '@beckyjohnson222',
 '@chrisjohnsonmd']

In [19]:
hashtags_ranked.tolist()[::1][:20]

['#coronavirus',
 '#china',
 '#wuhan',
 '#staysafe',
 '#2019ncov',
 '#vaccine',
 '#kashmir',
 '#wuhanpneumonia',
 '#breaking',
 '#vaccineswork',
 '#sars',
 '#vaccinesafety',
 '#hongkong',
 '#votenos2173',
 '#flu',
 '#virus',
 '#shenzhen',
 '#pneumonia',
 '#beijing',
 '#ปอดอ']

In [20]:
mention_indicies[mentions_rank_indicies[:-10]].shape

(46201,)

In [21]:
vec[:,mention_indicies[mentions_rank_indicies[:10]]].toarray().shape

(616837, 10)

In [55]:
results = df_t[['rt_author_id', 't_author_id']]
results['rt_author_id'] = results['rt_author_id'].apply(int)
results['t_author_id'] = results['t_author_id'].apply(int)

<ipython-input-55-13e1503541ee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['rt_author_id'] = results['rt_author_id'].apply(int)
<ipython-input-55-13e1503541ee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['t_author_id'] = results['t_author_id'].apply(int)

In [56]:
## 
for i in mentions_rank_indicies[:10]:
    results[mentions[i]] = vec[:,mention_indicies[i]].toarray().flatten()

In [57]:
results['mentions_sum'] = vec[:,mention_indicies[mentions_rank_indicies[:10]]].toarray().sum(axis=1)

In [58]:
results

,rt_author_id,t_author_id,@who,@declanoscanlon,@realdonaldtrump,@bts_twt,@drtedros,@njsenatepres,@doritmi,@peterhotez,@mcfunny,@cnn,mentions_sum
0,28967452,28025927,0,0,0,0,0,0,0,0,0,0,0
1,57283792,166505824,0,0,0,0,0,0,0,0,0,0,0
2,211845768,226194552,0,0,0,0,0,0,0,0,0,0,0
3,119321075,954124423,0,0,0,0,0,0,0,0,0,0,0
4,1391090496,954124423,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
782913,7065032,860339384721313792,0,0,0,0,0,0,0,0,0,0,0
782914,2908139527,21499303,0,0,0,0,0,0,0,0,0,0,0
782915,4115780194,755057897583804416,0,0,0,0,0,0,0,0,0,0,0
782916,1148252342048952322,907034217636343808,0,0,0,0,0,0,0,0,0,0,0
782919,632909553,907034217636343808,0,0,0,0,0,0,0,0,0,0,0

In [59]:
results = results[results['mentions_sum']>0]

In [60]:
network_input = []

In [61]:
for mention in mentions[mentions_rank_indicies][:10]:
    for _, row in results[results[mention]>0].iterrows():
        rel = (row['t_author_id'],row['rt_author_id'],row[mention])
        network_input.append(rel)
#         break
    break

In [65]:
with open('fname.csv', 'w') as f:
    f.write('t_author_id,rt_author_id,weight,mention\n')
    for mention in mentions[mentions_rank_indicies][:10]:
        for _, row in results[results[mention]>0].iterrows():
            rel = (row['t_author_id'],row['rt_author_id'],row[mention],mention)
            network_input.append(rel)
            f.write(','.join([str(e) for e in rel]))
            f.write('\n')

In [62]:
# ','.join([str(e) for e in rel])

'14159148,1105064943794245632,1'

In [64]:
results['mentions_sum'].sum()

34201

In [26]:
# df_t['mention_WHO'] = top10mentions_vec[:,0]
# df_t['tag_CORONAVIRUS'] = top10hashtags_vec[:,0]

In [43]:
# df_t[df_t.mention_WHO>0]

In [ ]:
# df_t[df_t.tag_CORONAVIRUS>0]

In [ ]:
# df_rt.to_csv('df_t_top_mntns_and_hashtags_jan_1-21.csv', index=False, sep=',')

In [ ]:
# data[data['rt_text'].astype(str).str.contains("@who|WHO")]
# df_rt[(df_rt['rt_text'].astype(str).str.contains("@who|WHO")) & (data['t_text'].astype(str).str.contains("@who|WHO"))][['rt_author_id', 't_author_id', 'rt_text', 't_text']]

In [ ]:
# data[(data['rt_text'].astype(str).str.contains("#coronavirus|coronavirus|corona|#corona")) & (data['t_text'].astype(str).str.contains("#coronavirus|coronavirus|corona|#corona"))][['rt_author_id', 't_author_id', 'rt_text', 't_text']]

In [ ]:
# get top 10 most frequent values
# data['t_author_id'].value_counts().index.tolist()[:10]

In [ ]:
# data.loc[np.logical_and(df.t_text == '@coronavirus', df.rt_text == '@who')]
# data.loc[df.rt_text =='@who'][['rt_author_id', 't_author_id', 'rt_text', 't_text']]